img {
	border: 1px solid #CFCFCF;
}

.octocat img {
	width: 352px;
	length: 352px;
	border-radius: 5px;

}

.authors img {
	width: 25px;
	height: 25px;
	border: none;
}

.authors {
	display: inline;
	float: right;
	padding: 4px;
}

ul {
	list-style: none;
}

.image-caption {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	color: #CFCFCF;
}

.image-number {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	color: #CFCFCF;
}

.image-number:before {
	content: "#";
}

a {
	text-decoration: none;
	color: black;
}

.octocat {
	float: left;
	margin: 10px;
}

.image-caption {
	display: inline;
	float: right;
}
