img {
	border: 1px solid gray;
}

.octocat img {
	width: 400px;
	length: 400px;
	border-radius: 5px;
}

.authors img {
	width: 25px;
	height: 25px;
}

ul {
list-style: none;
}

.image-caption {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	color: gray;
}

.image-number {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	color: gray;
}

a {
	text-decoration: none;
	color: black;
}